#navbar-main{
	font-size: 20px;
	 font-family:Times New Roman;
}

body{
	
	 background-image:url('bk.jpg');
	 padding-bottom: 20%;
	 overflow-y: hidden;
}

img.avatar {
    width: 9%;
    border-radius: 50%;
}

.imgcontainer {
    text-align: left;
    margin: 24px 0 12px 0;
}

table {
	font-family:Times New Roman;
    width: 60%;
    margin-top: -70px;

}

th {
    text-align: center;
    font-size:20px;
    padding: 15px;

}

td{
	text-align:center;
	padding-left: 70px;
	padding-top:20px;
}



th {
    background-color: #FF6600;
    color: white;
}
