<body>
  <nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>    </ul>
</div>
</nav>

<div class="imgcontainer">
    <img src="favicon1.png"  alt="Avatar" class="avatar">
 </div>

<table id="tab">
  <tr>
    <th>Book Name</th>
    <th>Author</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>{{name[0]}}</td>
    <td>{{author[0]}}</td>
    <td>{{price[0]}}</td>
  </tr>
  <tr>
    <td>{{name[1]}}</td>
    <td>{{author[1]}}</td>
    <td>{{price[1]}}</td>
  </tr>
  <tr>
    <td>{{name[2]}}</td>
    <td>{{author[2]}}</td>
    <td>{{price[2]}}</td>
  </tr>
  <tr>
    <td>{{name[3]}}</td>
    <td>{{author[3]}}</td>
    <td>{{price[3]}}</td>
  </tr>
  <tr>
    <td>{{name[4]}}</td>
    <td>{{author[4]}}</td>
    <td>{{price[4]}}</td>
  </tr>
  <tr>
    <td>{{name[5]}}</td>
    <td>{{author[5]}}</td>
    <td>{{price[5]}}</td>
  </tr>
  <tr>
    <td>{{name[6]}}</td>
    <td>{{author[6]}}</td>
    <td>{{price[6]}}</td>
  </tr>
   <tr>
    <td>{{name[7]}}</td>
    <td>{{author[7]}}</td>
    <td>{{price[7]}}</td>
  </tr>
   <tr>
    <td>{{name[8]}}</td>
    <td>{{author[8]}}</td>
    <td>{{price[8]}}</td>
  </tr>
</table>
<br>
<br>
<p>
<button (click)="myFunction()">Order Now</button>
<p>
</body>