<body>
  <nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active">LogOut</a></li>
    </ul>
</div>
</nav>

<div class="imgcontainer">
    <img src="favicon1.png"  alt="Avatar" class="avatar">
 </div>

<table>
  <tr>
    <th>Book Name</th>
    <th>Author</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>test</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>