#navbar-main{
	font-size: 20px;
	 font-family:Times New Roman;
}

#btns{
	text-align:  center;
}

#b1{

    background-color: black;
    border-radius: 20px;
    font-size: 50px;
    color: white;
    margin-left: 300px;
    padding-right: 300px;
    border:none;
  
}