<nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
     <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
</div>
</nav>


<table>
  <tr>
    <div>
     <a id ="add" class="btn btn-primary" (click) ="GOaddBook()">  <span class="icon"> </span> Add new book</a>
</div>
  </tr>
  <tr>
    <th>Adventure</th>
    <th>History</th>
    <th>Mistery</th>
  </tr>
  <tr>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Adv[0]">
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleA[0]}}</h4>
            <p class="card-text">{{DetailsA[0]}}</p>
            <p class="card-text">{{PriceA[0]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleA[0])">  <span class="icon"> </span>
        Cart</a>
         <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleA[0])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> 
  </td>
    <td>
      <div class="col-lg-3 col-md-6 mb-4" [hidden]="His[0]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleH[0]}}</h4>
            <p class="card-text">{{DetailsH[0]}}</p>
            <p class="card-text">{{PriceM[0]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleH[0])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleH[0])">  <span class="icon"> </span>
        Edit</a></div>
      </div>
    </div> 
    </td>
    <td>
      <div class="col-lg-3 col-md-6 mb-4" [hidden]="Mis[0]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleM[0]}}</h4>
            <p class="card-text">{{DetailsM[0]}}</p>
            <p class="card-text">{{PriceM[0]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleM[0])">  <span class="icon"> </span>
        Cart</a>
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleM[0])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> 
    </td>
  </tr>
  
  <tr>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Adv[1]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleA[1]}}</h4>
            <p class="card-text">{{DetailsA[1]}}</p>
            <p class="card-text">{{PriceA[1]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleA[1])">  <span class="icon"> </span>
        Cart</a>
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleA[1])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> </td>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="His[1]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleH[1]}}</h4>
            <p class="card-text">{{DetailsH[1]}}</p>
            <p class="card-text">{{PriceH[1]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleH[1])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleH[1])">  <span class="icon"> </span>
        Edit</a></div>
      </div>
    </div> </td>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Mis[1]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleM[1]}}</h4>
            <p class="card-text">{{DetailsM[1]}}</p>
            <p class="card-text">{{PriceM[1]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleM[1])">  <span class="icon"> </span>
        Cart</a>
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleM[1])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> </td>
  </tr>
 
  <tr>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Adv[2]">
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleA[2]}}</h4>
            <p class="card-text">{{DetailsA[2]}}</p>
            <p class="card-text">{{PriceA[2]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleA[2])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleA[2])">  <span class="icon"> </span>
        Edit</a></div>
      </div>
    </div> </td>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="His[2]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleH[2]}}</h4>
            <p class="card-text">{{DetailsH[2]}}</p>
            <p class="card-text">{{PriceH[2]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleH[2])">  <span class="icon"> </span>
        Cart</a>
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleH[2])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> </td>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Mis[2]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleM[2]}}</h4>
            <p class="card-text">{{DetailsM[2]}}</p>
            <p class="card-text">{{PriceM[2]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleM[2])">  <span class="icon"> </span>
        Cart</a>
            <a id ="ahome"  class="btn btn-primary" (click) ="editt(TitleM[2])">  <span class="icon"> </span>
        Edit</a> </div>
      </div>
    </div> </td>
  </tr>
  
  <tr>
    <td><div class="col-lg-3 col-md-6 mb-4" [hidden]="Adv[3]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleA[3]}}</h4>
            <p class="card-text">{{DetailsA[3]}}</p>
            <p class="card-text">{{PriceA[3]}}</p>

            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleA[3])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleA[3])"><span class="icon"></span>
        Edit</a>
           </div></div>
    </div> 
  </td>
    <td>
      <div class="col-lg-3 col-md-6 mb-4" [hidden]="His[3]">
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleH[3]}}</h4>
            <p class="card-text">{{DetailsH[3]}}</p>
            <p class="card-text">{{PriceM[3]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleH[3])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="edit(TitleH[3])">  <span class="icon"> </span>
        Edit</a></div>
      </div>
    </div> 
    </td>
    <td>
      <div class="col-lg-3 col-md-6 mb-4" [hidden]="Mis[3]" >
      <div class="card">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{TitleM[3]}}</h4>
            <p class="card-text">{{DetailsM[3]}}</p>
            <p class="card-text">{{PriceM[3]}}</p>
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleM[3])">  <span class="icon"> </span>
        Cart</a> 
            <a id ="ahome"  class="btn btn-primary" (click) ="addToCart(TitleM[3])">  <span class="icon"> </span>
        Edit</a></div>
      </div>
    </div> 
    </td>
  </tr>
  
  
</table>





