<body>
<nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
</div>
</nav>

<div class="container fixed" style=" margin-top:85px; margin-bottom: 85px; box-sizing: all; " id="divpage">

    <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top"  style="height:250px; width:253px" src={{image1}} alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{title1}}</h4>
            <p class="card-text" style="font-size: 12px">{{details1}}</p>
            <p class="card-text" style="font-size: 12px">{{price1}}</p>
            <a id ="ahome"  class="btn btn-primary" (click)="addToCart(title1)"> <span class="icon"></span>
        Cart</a> </div>
     </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">  <img class="card-img-top" style="height:250px; width:253px" src={{image2}} alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{title2}}</h4>
            <p class="card-text" style="font-size: 12px">{{details2}}</p>
            <p class="card-text" style="font-size: 12px">{{price2}}</p>
            <a id ="ahome"  class="btn btn-primary" (click)="addToCart(title2)"> <span class="icon">  </span>
        Cart</a> </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" style="height:250px; width:253px" src={{image3}} alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title" >{{title3}}</h4>
            <p class="card-text" style="font-size: 12px">{{details3}}</p>
            <p class="card-text" style="font-size: 12px">{{price3}}</p>
            <a id ="ahome"  class="btn btn-primary" (click)="addToCart(title3)">  <span class="icon"> </span>
        Cart</a> </div>
      </div>
    </div>

   <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top"  style="height:250px; width:253px" src={{image4}} alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">{{title4}}</h4>
            <p class="card-text" style="font-size: 12px">{{details4}}</p>
            <p class="card-text" style="font-size: 12px">{{price4}}</p>
            <a id ="ahome"  class="btn btn-primary" (click)="addToCart(title4)"> <span class="icon"> </span>
        Cart</a></div>
      </div>
   </div>


  </div>
 <!-- /.row -->

</div>
<!-- /.container -->




<!-- Footer-->
<footer class="py-2 bg-dark">
    <div class="container"> <p class="m-0 text-center text-white"> Website 2017 </p> </div>
</footer>
</body>