<body>
<nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
</div>
</nav>

<div class="container fixed" style=" margin-top:85px; margin-bottom: 85px; box-sizing: all; " id="divpage">

    <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary" > <span class="icon"></span>
        Cart</a> </div>
     </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">  <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary"> <span class="icon">  </span>
        Cart</a> </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title" >{{bookname3}}</h4>
            <p class="card-text">Some quick example text to build on the card title.</p>
            <a id ="ahome" href="#" class="btn btn-primary" onclick="addToCart(bookname3)">  <span class="icon"> </span>
        Cart</a> </div>
      </div>
    </div>

   <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary"> <span class="icon"> </span>
        Cart</a></div>
      </div>
   </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary"> <span class="icon"> </span>
        Cart</a></div>
      </div>
   </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary" > <span class="icon"> </span>
        Cart</a></div>
      </div>
   </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div id ="divhome" class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a id ="ahome" href="#" class="btn btn-primary" > <span class="icon"> </span>
        Cart</a></div>
      </div>
   </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div  id ="divhome" class="card-body" > <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a  id ="ahome" href="#" class="btn btn-primary"> <span class="icon"></span>
        Cart</a>
        <!-- <star-rating-comp [starType]="'icon'" [rating]="3" [labelText]="'My text!'"></star-rating-comp> --></div>
      </div>
   </div>

  </div>
 <!-- /.row -->

</div>
<!-- /.container -->




<!-- Footer-->
<footer class="py-2 bg-dark">
    <div class="container"> <p class="m-0 text-center text-white"> Website 2017</p> </div>
</footer>
</body>