<div>
	<nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
<div >
   <div class="container">
    <a class="navbar-header" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
      </div> 
 </div>
   <div class="nav navbar-right" id="navbar-main">
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>  
      <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
</div>
</nav>
</div>

<body>

<picture>
    <img  alt="Flowers" style="width:auto;">
</picture>
</body>