<!--The content below is only a placeholder and can be replaced.-->

<header>
  <!--Nav menu -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div class="container">
    <a class="navbar-brand" style="color: white; font-size: 40px;">
      <i class="fa fa-book fa-ls" aria-hidden="true" style="color;"></i> BookShop </a>
    <ul class="navbar-nav ml-auto">     
       <li class="nav-item active"> <a class="nav-link" href="#">Home<span class="sr-only">(current)</span> </a></li>
       <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
       <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
       <li class="nav-item"> <a class="nav-link" href="#">LogOut</a> </li>
    </ul>
  </div>  
</nav>
</header>



<body id="bkimg">
  <!--Quote-->

<div class="card fixed-top h-10" style="color: #C34768; margin-top: 80px; ">
  <div class="card-body " style="align-content: center;">
    <app-the-quote></app-the-quote>  </div>
</div>


  <!-- Page Content -->
<div class="container fixed" style=" margin-top:200px; box-sizing: all;" >

    <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a href="#" class="btn btn-primary">
            <span class="icon"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </span>
        Cart</a> </div>
     </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">  <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a href="#" class="btn btn-primary">
            <span class="icon"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </span>
        Cart</a> </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title.</p>
            <a href="#" class="btn btn-primary">  <span class="icon"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </span>
        Cart</a> </div>
      </div>
    </div>

   <div class="col-lg-3 col-md-6 mb-4">
      <div class="card"> <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body"> <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title .</p>
            <a href="#" class="btn btn-primary"> <span class="icon"> <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> </span>
        Cart</a></div>
      </div>
   </div>

  </div>
 <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer-->
<footer class="py-2 bg-dark">
    <div class="container"> <p class="m-0 text-center text-white"> Website 2017</p> </div>
</footer>

</body>