<html >
<body id="bodyab">
 
  <nav class="navbar navbar-default navbar-expand-lg  navbar-dark bg-dark navbar-fixed-top">
  <div >
     <div class="container">
      <a class="navbar-header" style="color: white; font-size: 40px;">
        <i class="fa fa-book fa-ls" aria-hidden="false" style="color:white;"></i> BookShop </a>      
        </div> 
   </div>
     <div class="nav navbar-right" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>  
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/categor" routerLinkActive="active">Category</a></li>
        <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
        <li><a routerLink="/login" routerLinkActive="active">LogOut</a></li>
      </ul>
  </div>
  </nav>


<div class="panel panel-default" id="panel">
  <div class="panel-body" >
    
    <hr class="soften">
     <div>
      <h1 >About us</h1>
     </div>
    <hr class="soften">
    <div class="row">
     <div class="span8">
      <p>
      It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.<br>
      <br>
      This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
      <br><br>
      Sometimes I'm right and I can be wrong. My own beliefs are in my song. The butcher, the banker, the drummer and then, makes no difference what group I'm in. I am everyday people! Yeah. Yeah.<br>
      </p>
    </div>
    <div class="span4">
      <h2>Open : </h2>
      Monday - Friday<br/>
      09:00am - 09:00pm<br/>
      Saturday<br/>
      09:00am - 07:00pm<br/>
      Sunday<br/>
      12:30pm - 06:00pm<br/>
    </div>
  </div>


  </div>
</div>


</body>
</html>