#navbar-main{
	font-size: 20px;
	 font-family:Times New Roman;
}


#bodyab{
	background-image: url('book.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 296px;
}


#panel{
	text-align: center;
	opacity: 0.7;
}