
<form style="margin-bottom: 100px">

 <div class="imgcontainer">
    <img src="favicon.png"  alt="Avatar" class="avatar">
 </div>
   
  <div class="container" style="font-size: 15px;color: darkblue">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <!-- <div class="col-lg-3 col-md-2 mb-2">
      <button (click)= "Move()" >Login</button>
    </div>
    <div class="col-lg-3 col-md-2 mb-2">
      <button (click)= "Move()" >Register</button>
    </div> -->
    <div style="width:1100px; align-self: center;">
      <div style="float: left; width: 550px"><button type="submit"  (click)= "Move()" >Login</button></div>
      <div style ="float: right; width: 550px"><button type="submit"  (click)= "Move()">Register</button></div> 
    </div>
    <input type="checkbox" checked="checked"> Remember me
     
  </div>

 <!--  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</form>